.adventure {
    height: auto;
    width: 100%;
    padding: 0em 6.25em;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.adventure>h2 {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
}

.adventure main {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

@media (max-width:768px) {
    .adventure {
      padding: 0 1em;

    }
    .adventure>h2 {
        font-size: 1.5em;

    }
}