.card {
    width: 18.25em;
    height: 23.25em;
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 1em;
    position: relative;
}

.card p {
    font-size: 0.75em;
    font-weight: 400;
    margin: 0;
}

.card .heart {
    position: absolute;
    right: 1.4em;
    top: 1.5em;
}
.card .heart:hover{
   fill: #2e1727;
   cursor: pointer;
    
}

.card h2 {
    font-size: 0.75em;
    font-weight: 700;
    margin: 0;
}

.card img {
    width: 16.25em;
    height: 16.56em;
}

.card .card-info {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
    margin-top: 1em;
}

.card-info>div {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-info>ul {
    display: flex;
    gap: 8px;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

@media (max-width:678px) {
    .card {
        width: 18.25em;
        height: 23.25em;
        border: 1px solid #D7D7D7;
        border-radius: 15px;
        padding: 1em;
    }
}