* {
  font-family: 'Red Rose', 'cursive';
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;

}

body.hidden {
  overflow: hidden;
}

.App {
  position: relative;
  height: auto;
}




@media (max-width:768px) {
 
}
