.nav {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 6em;

    padding: 0em 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 1000;


}

.mobile {
    display: none;
}

.nav img {
    width: 14.56em;
}

.nav ul a {
    font-size: 1.25em;
    font-weight: 400;
    text-decoration: none;
    margin-right: 3em;
    color: black;
}

.nav button {
    width: 10.6em;
    height: 3em;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 400;
}

.nav button:hover {
    background: linear-gradient(90deg, #2e1727 11.45%, #2e1727 11.45%);

    outline: none;
    border: none;
}


nav ul .active {
    color: #A02279;

}

@media (max-width:1200px) {

    .nav {
        display: flex;
        justify-content: space-between;
        background-color: #A02279;
        padding: .8em;
    }

    .searchEl {
        position: absolute;
        top: 100%;
        height: 3em;
      
        right: 1px;
        left: 1px;

        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .searchEl>* {
       
        border: none;
        outline: none;

    }

    .searchEl input {
        width: 60%;
         height:45px;
         padding: .5em;
    }

    .searchEl button {
        width: 40%;
    }


    .non-mobile {
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav img {
        width: 9em;
    }

    .nav>div>svg {

        color: #ffffff;
        font-size: 2.8em;
        cursor: pointer;
    }

    .actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search {
        height: 45px;
        width: 45px;
        border: 1px solid #FFFFFF;
        font-size: 1.6em;
        color: #ffffff;
        display: grid;
        place-items: center;
    }

    .search:hover {
        background-color: #2e1727;
        border: none;
        cursor: pointer;
    }

    .nav ul {
        position: absolute;
        background-color: #A02279;
        display: flex;
        flex-direction: column;
        top: 100%;
        width: 50%;
        right: 0;
        margin: 0;
        padding: 0;
       
    }

    .nav ul.hidden {
        display: none;
    }



    .nav button {
        width: 150px;
        height: 45px;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
        font-size: 18px;

    }

    .nav div button:hover {}

    .nav ul a {
        color: #ffffff;
        padding-left: 1em;
        height: 2em;
        border-bottom: 1px solid white;
        width: 100%;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    .nav ul a:hover {
        background: #2e1727;

    }


}

@media (max-width:500px) {
    *{
        zoom:97%
    }
    
}